body{
    background-color: #F9FAFB;
}
.card{
    width: 35% !important;
    background-color: transparent;
    border: none;
}

.card-header,.card-footer{
    background-color: transparent;
    border: none ;
}
.input{
    border: solid 1px black;
}


.navbar-brand img{
    height:60px ;
    width: 170px;
}

@media only screen and (max-width: 768px) {
    .card{
        width: 100% !important;
    }
}

